In [42]:
import pandas as pd
import numpy as np
import requests

In [2]:
bicichicago_df=pd.read_csv("databchicago.csv")

In [3]:
bicichicago_df.head()

,trip_id,year,month,week,day,hour,usertype,gender,starttime,stoptime,...,from_station_id,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end
0,2355134,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:57:00,2014-07-01 00:07:00,...,131,Lincoln Ave & Belmont Ave,41.939365,-87.668385,15.0,303,Broadway & Cornelia Ave,41.945512,-87.645980,15.0
1,2355133,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:56:00,2014-07-01 00:00:00,...,282,Halsted St & Maxwell St,41.864580,-87.646930,15.0,22,May St & Taylor St,41.869482,-87.655486,15.0
2,2355130,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:33:00,2014-06-30 23:35:00,...,327,Sheffield Ave & Webster Ave,41.921687,-87.653714,19.0,225,Halsted St & Dickens Ave,41.919936,-87.648830,15.0
3,2355129,2014,6,27,0,23,Subscriber,Female,2014-06-30 23:26:00,2014-07-01 00:24:00,...,134,Peoria St & Jackson Blvd,41.877749,-87.649633,19.0,194,State St & Wacker Dr,41.887155,-87.627750,11.0
4,2355128,2014,6,27,0,23,Subscriber,Female,2014-06-30 23:16:00,2014-06-30 23:26:00,...,320,Loomis St & Lexington St,41.872187,-87.661501,15.0,134,Peoria St & Jackson Blvd,41.877749,-87.649633,19.0

In [4]:
evalat = bicichicago_df['latitude_start'] >= 41.955205
evalon = (bicichicago_df['longitude_start'] >= -87.720670 ) & (bicichicago_df['longitude_start'] <= -87.709363) 
evandf= bicichicago_df[evalat & evalon]
evandf
evandf.to_csv('/Users/kimberlyuribe/Downloads/evandf.csv', index=False)

In [5]:
chicagodf=pd.read_csv("evandf.csv")

In [6]:
chicagodf['estacion inicio'] = [', '.join(str(x) for x in y) for y in map(tuple, chicagodf[['latitude_start', 'longitude_start']].values)]
chicagodf.head()

,trip_id,year,month,week,day,hour,usertype,gender,starttime,stoptime,...,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end,estacion inicio
0,5941959,2015,6,27,1,20,Subscriber,Female,2015-06-30 20:56:00,2015-06-30 21:10:00,...,Christiana Ave & Lawrence Ave,41.968354,-87.711831,15.0,316,Damen Ave & Sunnyside Ave,41.963250,-87.679258,19.0,"41.96835449, -87.71183067"
1,5940545,2015,6,27,1,19,Subscriber,Male,2015-06-30 19:34:00,2015-06-30 19:52:00,...,St. Louis Ave & Balmoral Ave,41.980394,-87.716115,15.0,325,Clark St & Winnemac Ave,41.973385,-87.668365,19.0,"41.98039423, -87.71611496"
2,5940262,2015,6,27,1,19,Subscriber,Female,2015-06-30 19:21:00,2015-06-30 19:30:00,...,St. Louis Ave & Balmoral Ave,41.980394,-87.716115,15.0,474,Christiana Ave & Lawrence Ave,41.968354,-87.711831,15.0,"41.98039423, -87.71611496"
3,5939128,2015,6,27,1,18,Subscriber,Male,2015-06-30 18:34:00,2015-06-30 18:52:00,...,Christiana Ave & Lawrence Ave,41.968354,-87.711831,15.0,298,Lincoln Ave & Belle Plaine Ave,41.955927,-87.679259,15.0,"41.96835449, -87.71183067"
4,5938836,2015,6,27,1,18,Subscriber,Female,2015-06-30 18:24:00,2015-06-30 18:32:00,...,Christiana Ave & Lawrence Ave,41.968354,-87.711831,15.0,469,St. Louis Ave & Balmoral Ave,41.980394,-87.716115,15.0,"41.96835449, -87.71183067"

In [29]:
chicagodf['Fecha1'] = chicagodf.apply(lambda x: str(x['starttime']),axis=1)
for Fecha1 in chicagodf['Fecha1']:
    x= Fecha1[:9]
chicagodf['Fecha'] = x
chicagodf.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9050 entries, 0 to 9049
Data columns (total 26 columns):
trip_id              9050 non-null int64
year                 9050 non-null int64
month                9050 non-null int64
week                 9050 non-null int64
day                  9050 non-null int64
hour                 9050 non-null int64
usertype             9050 non-null object
gender               9050 non-null object
starttime            9050 non-null object
stoptime             9050 non-null object
tripduration         9050 non-null float64
temperature          9050 non-null float64
events               9050 non-null object
from_station_id      9050 non-null int64
from_station_name    9050 non-null object
latitude_start       9050 non-null float64
longitude_start      9050 non-null float64
dpcapacity_start     9050 non-null float64
to_station_id        9050 non-null int64
to_station_name      9050 non-null object
latitude_end         9050 non-null float64
longitude_end        9050 non-null float64
dpcapacity_end       9050 non-null float64
estacion inicio      9050 non-null object
Fecha1               9050 non-null object
Fecha                7 non-null object
dtypes: float64(8), int64(8), object(10)
memory usage: 1.8+ MB

In [8]:
chicagodf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9050 entries, 0 to 9049
Data columns (total 26 columns):
trip_id              9050 non-null int64
year                 9050 non-null int64
month                9050 non-null int64
week                 9050 non-null int64
day                  9050 non-null int64
hour                 9050 non-null int64
usertype             9050 non-null object
gender               9050 non-null object
starttime            9050 non-null object
stoptime             9050 non-null object
tripduration         9050 non-null float64
temperature          9050 non-null float64
events               9050 non-null object
from_station_id      9050 non-null int64
from_station_name    9050 non-null object
latitude_start       9050 non-null float64
longitude_start      9050 non-null float64
dpcapacity_start     9050 non-null float64
to_station_id        9050 non-null int64
to_station_name      9050 non-null object
latitude_end         9050 non-null float64
longitude_end        9050 non-null float64
dpcapacity_end       9050 non-null float64
estacion inicio      9050 non-null object
Fecha1               9050 non-null object
Fecha                9050 non-null object
dtypes: float64(8), int64(8), object(10)
memory usage: 1.8+ MB

In [9]:
chicago1df = chicagodf.drop(chicagodf.columns[[0, 1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 17, 18, 19, 22, 24]], axis=1)
chicago1df

,hour,tripduration,latitude_start,longitude_start,latitude_end,longitude_end,estacion inicio,Fecha
0,20,13.633333,41.968354,-87.711831,41.963250,-87.679258,"41.96835449, -87.71183067",2017-10-0
1,19,18.366667,41.980394,-87.716115,41.973385,-87.668365,"41.98039423, -87.71611496",2017-10-0
2,19,8.683333,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0
3,18,18.416667,41.968354,-87.711831,41.955927,-87.679259,"41.96835449, -87.71183067",2017-10-0
4,18,8.533333,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0
5,17,7.466667,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0
6,17,31.933333,41.968354,-87.711831,41.900680,-87.662600,"41.96835449, -87.71183067",2017-10-0
7,17,7.583333,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0
8,14,11.183333,41.968354,-87.711831,41.975633,-87.701419,"41.96835449, -87.71183067",2017-10-0
9,12,18.100000,41.961154,-87.716569,41.982397,-87.708923,"41.96115408, -87.71656907",2017-10-0
10,12,8.366667,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0
11,8,15.083333,41.968354,-87.711831,41.930584,-87.685126,"41.96835449, -87.71183067",2017-10-0
12,8,13.550000,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0
13,8,16.483333,41.961154,-87.716569,41.975633,-87.701419,"41.96115408, -87.71656907",2017-10-0
14,8,17.216667,41.968354,-87.711831,41.943340,-87.670970,"41.96835449, -87.71183067",2017-10-0
15,6,14.183333,41.968354,-87.711831,41.967094,-87.679028,"41.96835449, -87.71183067",2017-10-0
16,21,6.333333,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0
17,19,23.950000,41.968354,-87.711831,41.975633,-87.701419,"41.96835449, -87.71183067",2017-10-0
18,17,13.200000,41.968354,-87.711831,41.982397,-87.708923,"41.96835449, -87.71183067",2017-10-0
19,17,6.983333,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0
20,17,5.900000,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0
21,15,27.633333,41.961154,-87.716569,41.962391,-87.684146,"41.96115408, -87.71656907",2017-10-0
22,14,11.050000,41.968354,-87.711831,41.968711,-87.696170,"41.96835449, -87.71183067",2017-10-0
23,12,10.850000,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0
24,11,15.316667,41.961154,-87.716569,41.946636,-87.694615,"41.96115408, -87.71656907",2017-10-0
25,11,21.750000,41.961154,-87.716569,41.961154,-87.716569,"41.96115408, -87.71656907",2017-10-0
26,7,13.866667,41.980394,-87.716115,41.961108,-87.728970,"41.98039423, -87.71611496",2017-10-0
27,20,7.950000,41.968354,-87.711831,41.961154,-87.716569,"41.96835449, -87.71183067",2017-10-0
28,18,10.900000,41.980394,-87.716115,41.966686,-87.708052,"41.98039423, -87.71611496",2017-10-0
29,15,14.133333,41.968354,-87.711831,41.963250,-87.679258,"41.96835449, -87.71183067",2017-10-0
...,...,...,...,...,...,...,...,...
9020,13,13.466667,41.968354,-87.711831,41.961041,-87.705866,"41.96835449, -87.71183067",2017-10-0
9021,12,4.850000,41.980394,-87.716115,41.975672,-87.709261,"41.98039423, -87.71611496",2017-10-0
9022,11,21.483333,41.968354,-87.711831,41.968354,-87.711831,"41.96835449, -87.71183067",2017-10-0
9023,9,9.050000,41.961154,-87.716569,41.980394,-87.716115,"41.96115408, -87.71656907",2017-10-0
9024,8,5.683333,41.961154,-87.716569,41.947326,-87.717582,"41.96115408, -87.71656907",2017-10-0
9025,8,8.066667,41.961154,-87.716569,41.966318,-87.701083,"41.96115408, -87.71656907",2017-10-0
9026,7,16.816667,41.968354,-87.711831,41.979770,-87.675815,"41.96835449, -87.71183067",2017-10-0
9027,7,6.200000,41.961154,-87.716569,41.947326,-87.717582,"41.96115408, -87.71656907",2017-10-0
9028,7,17.866667,41.961154,-87.716569,41.963250,-87.679258,"41.96115408, -87.71656907",2017-10-0
9029,7,4.283333,41.961154,-87.716569,41.968354,-87.711831,"41.96115408, -87.71656907",2017-10-0
9030,5,31.466667,41.980394,-87.716115,41.919936,-87.648830,"41.98039423, -87.71611496",2017-10-0
9031,22,19.350000,41.968354,-87.711831,41.961588,-87.666036,"41.96835449, -87.71183067",2017-10-0
9032,20,16.366667,41.980394,-87.716115,41.968885,-87.684001,"41.98039423, -87.71611496",2017-10-0
9033,19,5.550000,41.968354,-87.711831,41.975672,-87.709261,"41.96835449, -87.71183067",2017-10-0
9034,19,10.933333,41.980394,-87.716115,41.961154,-87.716569,"41.98039423, -87.71611496",2017-10-0
9035,19,6.550000,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0
9036,15,9.416667,41.961154,-87.716569,41.947326,-87.717582,"41.96115408, -87.71656907",2017-10-0
9037,15,56.900000,41.980394,-87.716115,42.015962,-87.668570,"41.98039423, -87.71611496",2017-10-0
9038,11,13.016667,41.961154,-87.716569,41.962391,-87.684146,"41.96115408, -87.71656907",2017-10-0
9039,9,8.783333,41.961154,-87.716569,41.980394,-87.716115,"41.96115408, -87.71656907",2017-10-0
9040,9,19.000000,41.961154,-87.716569,41.960631,-87.745359,"41.96115408, -87.71656907",2017-10-0
9041,8,9.166667,41.968354,-87.711831,41.966555,-87.688487,"41.96835449, -87.71183067",2017-10-0
9042,8,7.750000,41.961154,-87.716569,41.947326,-87.717582,"41.96115408, -87.71656907",2017-10-0
9043,8,9.750000,41.961154,-87.716569,41.975672,-87.709261,"41.96115408, -87.71656907",2017-10-0
9044,7,13.700000,41.961154,-87.716569,41.939398,-87.711561,"41.96115408, -87.71656907",2017-10-0
9045,7,15.000000,41.968354,-87.711831,41.979770,-87.675815,"41.96835449, -87.71183067",2017-10-0
9046,6,4.633333,41.961154,-87.716569,41.954005,-87.719128,"41.96115408, -87.71656907",2017-10-0
9047,21,6.333333,41.968354,-87.711831,41.961154,-87.716569,"41.96835449, -87.71183067",2017-10-0
9048,15,3.600000,41.961154,-87.716569,41.961041,-87.705866,"41.96115408, -87.71656907",2017-10-0
9049,12,21.466667,41.961154,-87.716569,41.936083,-87.669807,"41.96115408, -87.71656907",2017-10-0

In [10]:
def get_distance(lat1,long1, lat2, long2):
  #key from https://developer.mapquest.com/documentation/samples/directions/v2/route/
  r = requests.get('https://www.mapquestapi.com/directions/v2/route?key=lYrP4vF3Uk5zgTiGGuEzQGwGIVDGuy24&unit=k&from='+str(lat1)+'%2C'+str(long1)+'&to='+str(lat2)+'%2C'+str(long2)+'&outFormat=json&ambiguities=ignore&routeType=bicycle&doReverseGeocode=false&enhancedNarrative=false&avoidTimedConditions=false')
  return r.json()['route']['distance']

In [11]:
chicago1df['Distancia Recorrida'] = chicago1df.apply(lambda x: get_distance(x['latitude_start'],x['longitude_start'], x['latitude_end'],x['longitude_end']),axis=1)

In [12]:
chicago1df

,hour,tripduration,latitude_start,longitude_start,latitude_end,longitude_end,estacion inicio,Fecha,Distancia Recorrida
0,20,13.633333,41.968354,-87.711831,41.963250,-87.679258,"41.96835449, -87.71183067",2017-10-0,3.0835
1,19,18.366667,41.980394,-87.716115,41.973385,-87.668365,"41.98039423, -87.71611496",2017-10-0,4.8071
2,19,8.683333,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0,1.6689
3,18,18.416667,41.968354,-87.711831,41.955927,-87.679259,"41.96835449, -87.71183067",2017-10-0,3.5727
4,18,8.533333,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0,2.2370
5,17,7.466667,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0,2.2370
6,17,31.933333,41.968354,-87.711831,41.900680,-87.662600,"41.96835449, -87.71183067",2017-10-0,9.8508
7,17,7.583333,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0,1.6689
8,14,11.183333,41.968354,-87.711831,41.975633,-87.701419,"41.96835449, -87.71183067",2017-10-0,1.6480
9,12,18.100000,41.961154,-87.716569,41.982397,-87.708923,"41.96115408, -87.71656907",2017-10-0,2.8968
10,12,8.366667,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0,1.6689
11,8,15.083333,41.968354,-87.711831,41.930584,-87.685126,"41.96835449, -87.71183067",2017-10-0,5.3285
12,8,13.550000,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0,2.2370
13,8,16.483333,41.961154,-87.716569,41.975633,-87.701419,"41.96115408, -87.71656907",2017-10-0,2.7858
14,8,17.216667,41.968354,-87.711831,41.943340,-87.670970,"41.96835449, -87.71183067",2017-10-0,5.5860
15,6,14.183333,41.968354,-87.711831,41.967094,-87.679028,"41.96835449, -87.71183067",2017-10-0,2.8888
16,21,6.333333,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0,1.6689
17,19,23.950000,41.968354,-87.711831,41.975633,-87.701419,"41.96835449, -87.71183067",2017-10-0,1.6480
18,17,13.200000,41.968354,-87.711831,41.982397,-87.708923,"41.96835449, -87.71183067",2017-10-0,1.8234
19,17,6.983333,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0,1.6689
20,17,5.900000,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0,2.2370
21,15,27.633333,41.961154,-87.716569,41.962391,-87.684146,"41.96115408, -87.71656907",2017-10-0,2.9387
22,14,11.050000,41.968354,-87.711831,41.968711,-87.696170,"41.96835449, -87.71183067",2017-10-0,1.7268
23,12,10.850000,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0,1.6689
24,11,15.316667,41.961154,-87.716569,41.946636,-87.694615,"41.96115408, -87.71656907",2017-10-0,3.1028
25,11,21.750000,41.961154,-87.716569,41.961154,-87.716569,"41.96115408, -87.71656907",2017-10-0,0.0000
26,7,13.866667,41.980394,-87.716115,41.961108,-87.728970,"41.98039423, -87.71611496",2017-10-0,3.2766
27,20,7.950000,41.968354,-87.711831,41.961154,-87.716569,"41.96835449, -87.71183067",2017-10-0,1.2183
28,18,10.900000,41.980394,-87.716115,41.966686,-87.708052,"41.98039423, -87.71611496",2017-10-0,2.1951
29,15,14.133333,41.968354,-87.711831,41.963250,-87.679258,"41.96835449, -87.71183067",2017-10-0,3.0835
...,...,...,...,...,...,...,...,...,...
9020,13,13.466667,41.968354,-87.711831,41.961041,-87.705866,"41.96835449, -87.71183067",2017-10-0,1.6737
9021,12,4.850000,41.980394,-87.716115,41.975672,-87.709261,"41.98039423, -87.71611496",2017-10-0,1.0895
9022,11,21.483333,41.968354,-87.711831,41.968354,-87.711831,"41.96835449, -87.71183067",2017-10-0,0.0000
9023,9,9.050000,41.961154,-87.716569,41.980394,-87.716115,"41.96115408, -87.71656907",2017-10-0,3.1978
9024,8,5.683333,41.961154,-87.716569,41.947326,-87.717582,"41.96115408, -87.71656907",2017-10-0,1.6512
9025,8,8.066667,41.961154,-87.716569,41.966318,-87.701083,"41.96115408, -87.71656907",2017-10-0,2.0165
9026,7,16.816667,41.968354,-87.711831,41.979770,-87.675815,"41.96835449, -87.71183067",2017-10-0,4.2326
9027,7,6.200000,41.961154,-87.716569,41.947326,-87.717582,"41.96115408, -87.71656907",2017-10-0,1.6512
9028,7,17.866667,41.961154,-87.716569,41.963250,-87.679258,"41.96115408, -87.71656907",2017-10-0,3.2959
9029,7,4.283333,41.961154,-87.716569,41.968354,-87.711831,"41.96115408, -87.71656907",2017-10-0,1.2183
9030,5,31.466667,41.980394,-87.716115,41.919936,-87.648830,"41.98039423, -87.71611496",2017-10-0,9.9345
9031,22,19.350000,41.968354,-87.711831,41.961588,-87.666036,"41.96835449, -87.71183067",2017-10-0,4.2841
9032,20,16.366667,41.980394,-87.716115,41.968885,-87.684001,"41.98039423, -87.71611496",2017-10-0,3.8029
9033,19,5.550000,41.968354,-87.711831,41.975672,-87.709261,"41.96835449, -87.71183067",2017-10-0,1.1491
9034,19,10.933333,41.980394,-87.716115,41.961154,-87.716569,"41.98039423, -87.71611496",2017-10-0,2.6297
9035,19,6.550000,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0,2.2370
9036,15,9.416667,41.961154,-87.716569,41.947326,-87.717582,"41.96115408, -87.71656907",2017-10-0,1.6512
9037,15,56.900000,41.980394,-87.716115,42.015962,-87.668570,"41.98039423, -87.71611496",2017-10-0,7.4802
9038,11,13.016667,41.961154,-87.716569,41.962391,-87.684146,"41.96115408, -87.71656907",2017-10-0,2.9387
9039,9,8.783333,41.961154,-87.716569,41.980394,-87.716115,"41.96115408, -87.71656907",2017-10-0,3.1978
9040,9,19.000000,41.961154,-87.716569,41.960631,-87.745359,"41.96115408, -87.71656907",2017-10-0,2.9644
9041,8,9.166667,41.968354,-87.711831,41.966555,-87.688487,"41.96835449, -87.71183067",2017-10-0,2.3384
9042,8,7.750000,41.961154,-87.716569,41.947326,-87.717582,"41.96115408, -87.71656907",2017-10-0,1.6512
9043,8,9.750000,41.961154,-87.716569,41.975672,-87.709261,"41.96115408, -87.71656907",2017-10-0,2.1098
9044,7,13.700000,41.961154,-87.716569,41.939398,-87.711561,"41.96115408, -87.71656907",2017-10-0,2.8550
9045,7,15.000000,41.968354,-87.711831,41.979770,-87.675815,"41.96835449, -87.71183067",2017-10-0,4.2326
9046,6,4.633333,41.961154,-87.716569,41.954005,-87.719128,"41.96115408, -87.71656907",2017-10-0,1.0445
9047,21,6.333333,41.968354,-87.711831,41.961154,-87.716569,"41.96835449, -87.71183067",2017-10-0,1.2183
9048,15,3.600000,41.961154,-87.716569,41.961041,-87.705866,"41.96115408, -87.71656907",2017-10-0,1.2778
9049,12,21.466667,41.961154,-87.716569,41.936083,-87.669807,"41.96115408, -87.71656907",2017-10-0,5.9449

In [34]:
chicago1df.head()

,hour,tripduration,latitude_start,longitude_start,latitude_end,longitude_end,estacion inicio,Fecha,Distancia Recorrida
0,20,13.633333,41.968354,-87.711831,41.963250,-87.679258,"41.96835449, -87.71183067",2017-10-0,3.0835
1,19,18.366667,41.980394,-87.716115,41.973385,-87.668365,"41.98039423, -87.71611496",2017-10-0,4.8071
2,19,8.683333,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0,1.6689
3,18,18.416667,41.968354,-87.711831,41.955927,-87.679259,"41.96835449, -87.71183067",2017-10-0,3.5727
4,18,8.533333,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0,2.2370

In [35]:
chicagodf.head()

,trip_id,year,month,week,day,hour,usertype,gender,starttime,stoptime,...,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end,estacion inicio,Fecha1,Fecha
0,5941959,2015,6,27,1,20,Subscriber,Female,0 2015-06-30 20:56:00\n1 2015-06-3...,2015-06-30 21:10:00,...,-87.711831,15.0,316,Damen Ave & Sunnyside Ave,41.963250,-87.679258,19.0,"41.96835449, -87.71183067",0 2015-06-30 20:56:00\n1 2015-06-3...,NaN
1,5940545,2015,6,27,1,19,Subscriber,Male,0 2015-06-30 20:56:00\n1 2015-06-3...,2015-06-30 19:52:00,...,-87.716115,15.0,325,Clark St & Winnemac Ave,41.973385,-87.668365,19.0,"41.98039423, -87.71611496",0 2015-06-30 20:56:00\n1 2015-06-3...,NaN
2,5940262,2015,6,27,1,19,Subscriber,Female,0 2015-06-30 20:56:00\n1 2015-06-3...,2015-06-30 19:30:00,...,-87.716115,15.0,474,Christiana Ave & Lawrence Ave,41.968354,-87.711831,15.0,"41.98039423, -87.71611496",0 2015-06-30 20:56:00\n1 2015-06-3...,5.94026e+06
3,5939128,2015,6,27,1,18,Subscriber,Male,0 2015-06-30 20:56:00\n1 2015-06-3...,2015-06-30 18:52:00,...,-87.711831,15.0,298,Lincoln Ave & Belle Plaine Ave,41.955927,-87.679259,15.0,"41.96835449, -87.71183067",0 2015-06-30 20:56:00\n1 2015-06-3...,5.93913e+06
4,5938836,2015,6,27,1,18,Subscriber,Female,0 2015-06-30 20:56:00\n1 2015-06-3...,2015-06-30 18:32:00,...,-87.711831,15.0,469,St. Louis Ave & Balmoral Ave,41.980394,-87.716115,15.0,"41.96835449, -87.71183067",0 2015-06-30 20:56:00\n1 2015-06-3...,5.93884e+06

In [51]:
chicagodf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9050 entries, 0 to 9049
Data columns (total 26 columns):
trip_id              9050 non-null int64
year                 9050 non-null int64
month                9050 non-null int64
week                 9050 non-null int64
day                  9050 non-null int64
hour                 9050 non-null int64
usertype             9050 non-null object
gender               9050 non-null object
starttime            9050 non-null object
stoptime             9050 non-null object
tripduration         9050 non-null float64
temperature          9050 non-null float64
events               9050 non-null object
from_station_id      9050 non-null int64
from_station_name    9050 non-null object
latitude_start       9050 non-null float64
longitude_start      9050 non-null float64
dpcapacity_start     9050 non-null float64
to_station_id        9050 non-null int64
to_station_name      9050 non-null object
latitude_end         9050 non-null float64
longitude_end        9050 non-null float64
dpcapacity_end       9050 non-null float64
estacion inicio      9050 non-null object
Fecha1               9050 non-null object
Fecha                7 non-null object
dtypes: float64(8), int64(8), object(10)
memory usage: 1.8+ MB

In [52]:
chicago1df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9050 entries, 0 to 9049
Data columns (total 9 columns):
hour                   9050 non-null int64
tripduration           9050 non-null float64
latitude_start         9050 non-null float64
longitude_start        9050 non-null float64
latitude_end           9050 non-null float64
longitude_end          9050 non-null float64
estacion inicio        9050 non-null object
Fecha                  9050 non-null object
Distancia Recorrida    9050 non-null float64
dtypes: float64(6), int64(1), object(2)
memory usage: 636.4+ KB

In [65]:
start=chicagodf.iloc[:,[5,9,10]]
start.head()

   hour             stoptime  tripduration
0    20  2015-06-30 21:10:00     13.633333
1    19  2015-06-30 19:52:00     18.366667
2    19  2015-06-30 19:30:00      8.683333
3    18  2015-06-30 18:52:00     18.416667
4    18  2015-06-30 18:32:00      8.533333

In [79]:
result = pd.merge(start, chicago1df)
result

,hour,stoptime,tripduration,latitude_start,longitude_start,latitude_end,longitude_end,estacion inicio,Fecha,Distancia Recorrida
0,20,2015-06-30 21:10:00,13.633333,41.968354,-87.711831,41.963250,-87.679258,"41.96835449, -87.71183067",2017-10-0,3.0835
1,20,2015-06-30 21:10:00,13.633333,41.980394,-87.716115,41.975615,-87.679459,"41.98039423, -87.71611496",2017-10-0,3.6098
2,20,2015-06-30 21:10:00,13.633333,41.968354,-87.711831,41.969090,-87.674237,"41.96835449, -87.71183067",2017-10-0,3.1575
3,20,2016-11-02 20:59:14,13.633333,41.968354,-87.711831,41.963250,-87.679258,"41.96835449, -87.71183067",2017-10-0,3.0835
4,20,2016-11-02 20:59:14,13.633333,41.980394,-87.716115,41.975615,-87.679459,"41.98039423, -87.71611496",2017-10-0,3.6098
5,20,2016-11-02 20:59:14,13.633333,41.968354,-87.711831,41.969090,-87.674237,"41.96835449, -87.71183067",2017-10-0,3.1575
6,20,2017-09-26 20:31:23,13.633333,41.968354,-87.711831,41.963250,-87.679258,"41.96835449, -87.71183067",2017-10-0,3.0835
7,20,2017-09-26 20:31:23,13.633333,41.980394,-87.716115,41.975615,-87.679459,"41.98039423, -87.71611496",2017-10-0,3.6098
8,20,2017-09-26 20:31:23,13.633333,41.968354,-87.711831,41.969090,-87.674237,"41.96835449, -87.71183067",2017-10-0,3.1575
9,19,2015-06-30 19:52:00,18.366667,41.980394,-87.716115,41.973385,-87.668365,"41.98039423, -87.71611496",2017-10-0,4.8071
10,19,2015-06-30 19:52:00,18.366667,41.961154,-87.716569,41.965900,-87.693638,"41.96115408, -87.71656907",2017-10-0,2.4172
11,19,2016-10-08 20:05:09,18.366667,41.980394,-87.716115,41.973385,-87.668365,"41.98039423, -87.71611496",2017-10-0,4.8071
12,19,2016-10-08 20:05:09,18.366667,41.961154,-87.716569,41.965900,-87.693638,"41.96115408, -87.71656907",2017-10-0,2.4172
13,19,2015-06-30 19:30:00,8.683333,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0,1.6689
14,18,2015-06-30 18:52:00,18.416667,41.968354,-87.711831,41.955927,-87.679259,"41.96835449, -87.71183067",2017-10-0,3.5727
15,18,2015-06-30 18:32:00,8.533333,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0,2.2370
16,18,2015-06-30 18:32:00,8.533333,41.968354,-87.711831,41.982397,-87.708923,"41.968354, -87.711831",2017-10-0,1.8234
17,18,2015-06-30 18:32:00,8.533333,41.980394,-87.716115,41.966686,-87.708052,"41.980394, -87.716115",2017-10-0,2.1951
18,18,2016-03-01 18:08:00,8.533333,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0,2.2370
19,18,2016-03-01 18:08:00,8.533333,41.968354,-87.711831,41.982397,-87.708923,"41.968354, -87.711831",2017-10-0,1.8234
20,18,2016-03-01 18:08:00,8.533333,41.980394,-87.716115,41.966686,-87.708052,"41.980394, -87.716115",2017-10-0,2.1951
21,18,2016-02-04 18:37:00,8.533333,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0,2.2370
22,18,2016-02-04 18:37:00,8.533333,41.968354,-87.711831,41.982397,-87.708923,"41.968354, -87.711831",2017-10-0,1.8234
23,18,2016-02-04 18:37:00,8.533333,41.980394,-87.716115,41.966686,-87.708052,"41.980394, -87.716115",2017-10-0,2.1951
24,17,2015-06-30 17:23:00,7.466667,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0,2.2370
25,17,2015-06-30 17:23:00,7.466667,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0,1.6689
26,17,2015-06-30 17:23:00,7.466667,41.968354,-87.711831,41.975633,-87.701419,"41.96835449363, -87.7118306675",2017-10-0,1.6480
27,17,2015-11-10 17:45:00,7.466667,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0,2.2370
28,17,2015-11-10 17:45:00,7.466667,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0,1.6689
29,17,2015-11-10 17:45:00,7.466667,41.968354,-87.711831,41.975633,-87.701419,"41.96835449363, -87.7118306675",2017-10-0,1.6480
...,...,...,...,...,...,...,...,...,...,...
14630,7,2017-10-04 08:08:00,15.000000,41.961154,-87.716569,41.963250,-87.679258,"41.96115408, -87.71656907",2017-10-0,3.2959
14631,7,2017-10-04 08:08:00,15.000000,41.968354,-87.711831,41.979770,-87.675815,"41.96835449, -87.71183067",2017-10-0,4.2326
14632,7,2017-10-02 07:53:00,15.000000,41.961154,-87.716569,41.963250,-87.679258,"41.96115408, -87.71656907",2017-10-0,3.2959
14633,7,2017-10-02 07:53:00,15.000000,41.968354,-87.711831,41.979770,-87.675815,"41.96835449, -87.71183067",2017-10-0,4.2326
14634,7,2017-10-04 07:47:00,6.583333,41.961154,-87.716569,41.968354,-87.711831,"41.96115408, -87.71656907",2017-10-0,1.2183
14635,20,2017-10-03 20:49:00,3.500000,41.961154,-87.716569,41.961154,-87.716569,"41.96115408, -87.71656907",2017-10-0,0.0000
14636,21,2017-10-03 21:29:00,28.016667,41.980394,-87.716115,41.961588,-87.666036,"41.98039423, -87.71611496",2017-10-0,5.9707
14637,19,2017-10-03 19:44:00,10.616667,41.968354,-87.711831,41.961526,-87.691165,"41.96835449, -87.71183067",2017-10-0,2.2901
14638,18,2017-10-03 18:45:00,5.966667,41.968354,-87.711831,41.982397,-87.708923,"41.96835449, -87.71183067",2017-10-0,1.8234
14639,16,2017-10-03 16:39:00,17.450000,41.980394,-87.716115,41.954341,-87.686080,"41.98039423, -87.71611496",2017-10-0,5.2368
14640,15,2017-10-03 15:19:00,9.583333,41.980394,-87.716115,41.968354,-87.711831,"41.98039423, -87.71611496",2017-10-0,1.6689
14641,14,2017-10-03 14:54:00,8.783333,41.961154,-87.716569,41.980394,-87.716115,"41.96115408, -87.71656907",2017-10-0,3.1978
14642,13,2017-10-03 14:12:00,13.166667,41.961154,-87.716569,41.966555,-87.688487,"41.96115408, -87.71656907",2017-10-0,2.9177
14643,12,2017-10-03 12:21:00,4.850000,41.980394,-87.716115,41.975672,-87.709261,"41.98039423, -87.71611496",2017-10-0,1.0895
14644,11,2017-10-03 11:34:00,21.483333,41.968354,-87.711831,41.968354,-87.711831,"41.96835449, -87.71183067",2017-10-0,0.0000
14645,8,2017-10-03 08:20:00,8.066667,41.961154,-87.716569,41.966318,-87.701083,"41.96115408, -87.71656907",2017-10-0,2.0165
14646,7,2017-10-03 07:57:00,16.816667,41.968354,-87.711831,41.979770,-87.675815,"41.96835449, -87.71183067",2017-10-0,4.2326
14647,7,2017-10-03 07:45:00,17.866667,41.961154,-87.716569,41.963250,-87.679258,"41.96115408, -87.71656907",2017-10-0,3.2959
14648,5,2017-10-03 06:12:00,31.466667,41.980394,-87.716115,41.919936,-87.648830,"41.98039423, -87.71611496",2017-10-0,9.9345
14649,22,2017-10-02 22:24:00,19.350000,41.968354,-87.711831,41.961588,-87.666036,"41.96835449, -87.71183067",2017-10-0,4.2841
14650,20,2017-10-02 20:50:00,16.366667,41.980394,-87.716115,41.968885,-87.684001,"41.98039423, -87.71611496",2017-10-0,3.8029
14651,19,2017-10-02 19:34:00,5.550000,41.968354,-87.711831,41.975672,-87.709261,"41.96835449, -87.71183067",2017-10-0,1.1491
14652,19,2017-10-02 19:13:00,10.933333,41.980394,-87.716115,41.961154,-87.716569,"41.98039423, -87.71611496",2017-10-0,2.6297
14653,19,2017-10-02 19:07:00,6.550000,41.968354,-87.711831,41.980394,-87.716115,"41.96835449, -87.71183067",2017-10-0,2.2370
14654,15,2017-10-02 16:36:00,56.900000,41.980394,-87.716115,42.015962,-87.668570,"41.98039423, -87.71611496",2017-10-0,7.4802
14655,9,2017-10-02 09:22:00,19.000000,41.961154,-87.716569,41.960631,-87.745359,"41.96115408, -87.71656907",2017-10-0,2.9644
14656,8,2017-10-02 08:25:00,9.750000,41.961154,-87.716569,41.975672,-87.709261,"41.96115408, -87.71656907",2017-10-0,2.1098
14657,7,2017-10-02 08:03:00,13.700000,41.961154,-87.716569,41.939398,-87.711561,"41.96115408, -87.71656907",2017-10-0,2.8550
14658,6,2017-10-02 06:28:00,4.633333,41.961154,-87.716569,41.954005,-87.719128,"41.96115408, -87.71656907",2017-10-0,1.0445
14659,15,2017-10-01 15:13:00,3.600000,41.961154,-87.716569,41.961041,-87.705866,"41.96115408, -87.71656907",2017-10-0,1.2778

In [80]:
result2 = result.drop(result.columns[[3,4,5,6,8]], axis=1)
result2

,hour,stoptime,tripduration,estacion inicio,Distancia Recorrida
0,20,2015-06-30 21:10:00,13.633333,"41.96835449, -87.71183067",3.0835
1,20,2015-06-30 21:10:00,13.633333,"41.98039423, -87.71611496",3.6098
2,20,2015-06-30 21:10:00,13.633333,"41.96835449, -87.71183067",3.1575
3,20,2016-11-02 20:59:14,13.633333,"41.96835449, -87.71183067",3.0835
4,20,2016-11-02 20:59:14,13.633333,"41.98039423, -87.71611496",3.6098
5,20,2016-11-02 20:59:14,13.633333,"41.96835449, -87.71183067",3.1575
6,20,2017-09-26 20:31:23,13.633333,"41.96835449, -87.71183067",3.0835
7,20,2017-09-26 20:31:23,13.633333,"41.98039423, -87.71611496",3.6098
8,20,2017-09-26 20:31:23,13.633333,"41.96835449, -87.71183067",3.1575
9,19,2015-06-30 19:52:00,18.366667,"41.98039423, -87.71611496",4.8071
10,19,2015-06-30 19:52:00,18.366667,"41.96115408, -87.71656907",2.4172
11,19,2016-10-08 20:05:09,18.366667,"41.98039423, -87.71611496",4.8071
12,19,2016-10-08 20:05:09,18.366667,"41.96115408, -87.71656907",2.4172
13,19,2015-06-30 19:30:00,8.683333,"41.98039423, -87.71611496",1.6689
14,18,2015-06-30 18:52:00,18.416667,"41.96835449, -87.71183067",3.5727
15,18,2015-06-30 18:32:00,8.533333,"41.96835449, -87.71183067",2.2370
16,18,2015-06-30 18:32:00,8.533333,"41.968354, -87.711831",1.8234
17,18,2015-06-30 18:32:00,8.533333,"41.980394, -87.716115",2.1951
18,18,2016-03-01 18:08:00,8.533333,"41.96835449, -87.71183067",2.2370
19,18,2016-03-01 18:08:00,8.533333,"41.968354, -87.711831",1.8234
20,18,2016-03-01 18:08:00,8.533333,"41.980394, -87.716115",2.1951
21,18,2016-02-04 18:37:00,8.533333,"41.96835449, -87.71183067",2.2370
22,18,2016-02-04 18:37:00,8.533333,"41.968354, -87.711831",1.8234
23,18,2016-02-04 18:37:00,8.533333,"41.980394, -87.716115",2.1951
24,17,2015-06-30 17:23:00,7.466667,"41.96835449, -87.71183067",2.2370
25,17,2015-06-30 17:23:00,7.466667,"41.98039423, -87.71611496",1.6689
26,17,2015-06-30 17:23:00,7.466667,"41.96835449363, -87.7118306675",1.6480
27,17,2015-11-10 17:45:00,7.466667,"41.96835449, -87.71183067",2.2370
28,17,2015-11-10 17:45:00,7.466667,"41.98039423, -87.71611496",1.6689
29,17,2015-11-10 17:45:00,7.466667,"41.96835449363, -87.7118306675",1.6480
...,...,...,...,...,...
14630,7,2017-10-04 08:08:00,15.000000,"41.96115408, -87.71656907",3.2959
14631,7,2017-10-04 08:08:00,15.000000,"41.96835449, -87.71183067",4.2326
14632,7,2017-10-02 07:53:00,15.000000,"41.96115408, -87.71656907",3.2959
14633,7,2017-10-02 07:53:00,15.000000,"41.96835449, -87.71183067",4.2326
14634,7,2017-10-04 07:47:00,6.583333,"41.96115408, -87.71656907",1.2183
14635,20,2017-10-03 20:49:00,3.500000,"41.96115408, -87.71656907",0.0000
14636,21,2017-10-03 21:29:00,28.016667,"41.98039423, -87.71611496",5.9707
14637,19,2017-10-03 19:44:00,10.616667,"41.96835449, -87.71183067",2.2901
14638,18,2017-10-03 18:45:00,5.966667,"41.96835449, -87.71183067",1.8234
14639,16,2017-10-03 16:39:00,17.450000,"41.98039423, -87.71611496",5.2368
14640,15,2017-10-03 15:19:00,9.583333,"41.98039423, -87.71611496",1.6689
14641,14,2017-10-03 14:54:00,8.783333,"41.96115408, -87.71656907",3.1978
14642,13,2017-10-03 14:12:00,13.166667,"41.96115408, -87.71656907",2.9177
14643,12,2017-10-03 12:21:00,4.850000,"41.98039423, -87.71611496",1.0895
14644,11,2017-10-03 11:34:00,21.483333,"41.96835449, -87.71183067",0.0000
14645,8,2017-10-03 08:20:00,8.066667,"41.96115408, -87.71656907",2.0165
14646,7,2017-10-03 07:57:00,16.816667,"41.96835449, -87.71183067",4.2326
14647,7,2017-10-03 07:45:00,17.866667,"41.96115408, -87.71656907",3.2959
14648,5,2017-10-03 06:12:00,31.466667,"41.98039423, -87.71611496",9.9345
14649,22,2017-10-02 22:24:00,19.350000,"41.96835449, -87.71183067",4.2841
14650,20,2017-10-02 20:50:00,16.366667,"41.98039423, -87.71611496",3.8029
14651,19,2017-10-02 19:34:00,5.550000,"41.96835449, -87.71183067",1.1491
14652,19,2017-10-02 19:13:00,10.933333,"41.98039423, -87.71611496",2.6297
14653,19,2017-10-02 19:07:00,6.550000,"41.96835449, -87.71183067",2.2370
14654,15,2017-10-02 16:36:00,56.900000,"41.98039423, -87.71611496",7.4802
14655,9,2017-10-02 09:22:00,19.000000,"41.96115408, -87.71656907",2.9644
14656,8,2017-10-02 08:25:00,9.750000,"41.96115408, -87.71656907",2.1098
14657,7,2017-10-02 08:03:00,13.700000,"41.96115408, -87.71656907",2.8550
14658,6,2017-10-02 06:28:00,4.633333,"41.96115408, -87.71656907",1.0445
14659,15,2017-10-01 15:13:00,3.600000,"41.96115408, -87.71656907",1.2778

In [81]:
viajes = pd.DataFrame({'total_trips' : chicagodf.groupby( [ "estacion inicio", "year", "month", "week", "day", "hour", "stoptime"] )["tripduration"].agg('count')}).reset_index()
viajes

,estacion inicio,year,month,week,day,hour,stoptime,total_trips
0,"41.961154, -87.71656899999998",2016,1,1,0,8,2016-01-04 08:44:00,1
1,"41.961154, -87.71656899999998",2016,1,1,1,8,2016-01-05 08:41:00,1
2,"41.961154, -87.71656899999998",2016,1,1,2,8,2016-01-06 08:57:00,1
3,"41.961154, -87.71656899999998",2016,1,1,3,9,2016-01-07 09:08:00,1
4,"41.961154, -87.71656899999998",2016,1,1,4,7,2016-01-08 07:19:00,1
5,"41.961154, -87.71656899999998",2016,1,1,4,7,2016-01-08 07:39:00,1
6,"41.961154, -87.71656899999998",2016,1,2,3,9,2016-01-14 09:22:00,1
7,"41.961154, -87.71656899999998",2016,1,2,4,8,2016-01-15 08:47:00,1
8,"41.961154, -87.71656899999998",2016,1,2,4,11,2016-01-15 11:44:00,1
9,"41.961154, -87.71656899999998",2016,1,2,5,14,2016-01-16 14:54:00,1
10,"41.961154, -87.71656899999998",2016,1,3,0,9,2016-01-18 09:41:00,1
11,"41.961154, -87.71656899999998",2016,1,3,2,10,2016-01-20 10:56:00,1
12,"41.961154, -87.71656899999998",2016,1,3,3,8,2016-01-21 08:42:00,1
13,"41.961154, -87.71656899999998",2016,1,3,6,16,2016-01-24 16:53:00,1
14,"41.961154, -87.71656899999998",2016,1,4,2,9,2016-01-27 09:22:00,1
15,"41.961154, -87.71656899999998",2016,1,4,2,10,2016-01-27 10:39:00,1
16,"41.961154, -87.71656899999998",2016,1,4,3,7,2016-01-28 08:14:00,1
17,"41.961154, -87.71656899999998",2016,1,4,4,7,2016-01-29 08:06:00,1
18,"41.961154, -87.71656899999998",2016,1,4,4,19,2016-01-29 19:34:00,1
19,"41.961154, -87.71656899999998",2016,1,4,5,13,2016-01-30 13:46:00,1
20,"41.961154, -87.71656899999998",2016,2,5,0,7,2016-02-01 07:40:00,1
21,"41.961154, -87.71656899999998",2016,2,5,0,12,2016-02-01 12:29:00,1
22,"41.961154, -87.71656899999998",2016,2,5,1,7,2016-02-02 07:25:00,1
23,"41.961154, -87.71656899999998",2016,2,5,3,16,2016-02-04 16:28:00,1
24,"41.961154, -87.71656899999998",2016,2,5,6,14,2016-02-07 14:26:00,1
25,"41.961154, -87.71656899999998",2016,2,6,0,7,2016-02-08 07:27:00,1
26,"41.961154, -87.71656899999998",2016,2,6,3,8,2016-02-11 08:50:00,1
27,"41.961154, -87.71656899999998",2016,2,6,4,7,2016-02-12 08:07:00,1
28,"41.961154, -87.71656899999998",2016,2,7,2,8,2016-02-17 08:28:00,1
29,"41.961154, -87.71656899999998",2016,2,7,2,8,2016-02-17 08:29:00,1
...,...,...,...,...,...,...,...,...
8919,"41.98039423475, -87.7161149615",2017,6,25,2,20,2017-06-21 20:08:44,1
8920,"41.98039423475, -87.7161149615",2017,6,25,3,14,2017-06-22 14:51:35,1
8921,"41.98039423475, -87.7161149615",2017,6,25,3,17,2017-06-22 17:34:28,1
8922,"41.98039423475, -87.7161149615",2017,6,25,3,21,2017-06-22 21:18:59,1
8923,"41.98039423475, -87.7161149615",2017,6,25,4,15,2017-06-23 15:41:55,1
8924,"41.98039423475, -87.7161149615",2017,6,25,4,16,2017-06-23 16:54:45,1
8925,"41.98039423475, -87.7161149615",2017,6,25,5,11,2017-06-24 11:44:57,1
8926,"41.98039423475, -87.7161149615",2017,6,25,5,22,2017-06-24 22:34:13,1
8927,"41.98039423475, -87.7161149615",2017,6,25,6,9,2017-06-25 10:15:20,1
8928,"41.98039423475, -87.7161149615",2017,6,26,0,5,2017-06-26 05:41:54,1
8929,"41.98039423475, -87.7161149615",2017,6,26,0,7,2017-06-26 07:46:51,1
8930,"41.98039423475, -87.7161149615",2017,6,26,0,20,2017-06-26 20:58:59,1
8931,"41.98039423475, -87.7161149615",2017,6,26,0,22,2017-06-26 22:33:47,1
8932,"41.98039423475, -87.7161149615",2017,6,26,1,12,2017-06-27 12:54:27,1
8933,"41.98039423475, -87.7161149615",2017,6,26,1,13,2017-06-27 13:44:30,1
8934,"41.98039423475, -87.7161149615",2017,6,26,1,14,2017-06-27 15:08:48,1
8935,"41.98039423475, -87.7161149615",2017,6,26,1,16,2017-06-27 16:26:39,1
8936,"41.98039423475, -87.7161149615",2017,6,26,1,16,2017-06-27 16:53:28,1
8937,"41.98039423475, -87.7161149615",2017,6,26,1,19,2017-06-27 20:03:39,1
8938,"41.98039423475, -87.7161149615",2017,6,26,1,21,2017-06-27 21:51:56,1
8939,"41.98039423475, -87.7161149615",2017,6,26,2,5,2017-06-28 05:41:12,1
8940,"41.98039423475, -87.7161149615",2017,6,26,2,16,2017-06-28 16:53:06,1
8941,"41.98039423475, -87.7161149615",2017,6,26,2,21,2017-06-28 21:44:52,1
8942,"41.98039423475, -87.7161149615",2017,6,26,3,5,2017-06-29 05:18:57,1
8943,"41.98039423475, -87.7161149615",2017,6,26,3,5,2017-06-29 05:19:36,1
8944,"41.98039423475, -87.7161149615",2017,6,26,3,11,2017-06-29 12:02:42,1
8945,"41.98039423475, -87.7161149615",2017,6,26,3,15,2017-06-29 15:45:40,1
8946,"41.98039423475, -87.7161149615",2017,6,26,3,16,2017-06-29 16:51:45,1
8947,"41.98039423475, -87.7161149615",2017,6,26,4,16,2017-06-30 16:57:59,1
8948,"41.98039423475, -87.7161149615",2017,6,26,4,17,2017-06-30 17:51:56,1

In [128]:
chibici = pd.merge(viajes, result2, on=["estacion inicio", "hour", "stoptime"])
chibici

,estacion inicio,year,month,week,day,hour,stoptime,total_trips,tripduration,Distancia Recorrida
0,"41.961154, -87.71656899999998",2016,1,1,0,8,2016-01-04 08:44:00,1,9.516667,2.0165
1,"41.961154, -87.71656899999998",2016,1,1,1,8,2016-01-05 08:41:00,1,8.033333,2.0165
2,"41.961154, -87.71656899999998",2016,1,1,2,8,2016-01-06 08:57:00,1,15.066667,1.2183
3,"41.961154, -87.71656899999998",2016,1,1,3,9,2016-01-07 09:08:00,1,7.950000,1.8282
4,"41.961154, -87.71656899999998",2016,1,1,4,7,2016-01-08 07:19:00,1,8.833333,2.1243
5,"41.961154, -87.71656899999998",2016,1,1,4,7,2016-01-08 07:39:00,1,12.233333,2.4172
6,"41.961154, -87.71656899999998",2016,1,2,3,9,2016-01-14 09:22:00,1,6.733333,2.0165
7,"41.961154, -87.71656899999998",2016,1,2,4,8,2016-01-15 08:47:00,1,15.783333,3.5003
8,"41.961154, -87.71656899999998",2016,1,2,4,11,2016-01-15 11:44:00,1,11.583333,2.1243
9,"41.961154, -87.71656899999998",2016,1,2,5,14,2016-01-16 14:54:00,1,12.316667,2.9177
10,"41.961154, -87.71656899999998",2016,1,3,0,9,2016-01-18 09:41:00,1,5.900000,1.2183
11,"41.961154, -87.71656899999998",2016,1,3,2,10,2016-01-20 10:56:00,1,9.500000,2.5106
12,"41.961154, -87.71656899999998",2016,1,3,3,8,2016-01-21 08:42:00,1,9.500000,2.0165
13,"41.961154, -87.71656899999998",2016,1,3,6,16,2016-01-24 16:53:00,1,14.050000,2.9177
14,"41.961154, -87.71656899999998",2016,1,4,2,9,2016-01-27 09:22:00,1,5.300000,1.2183
15,"41.961154, -87.71656899999998",2016,1,4,2,10,2016-01-27 10:39:00,1,9.033333,2.5106
16,"41.961154, -87.71656899999998",2016,1,4,3,7,2016-01-28 08:14:00,1,16.066667,3.5003
17,"41.961154, -87.71656899999998",2016,1,4,4,7,2016-01-29 08:06:00,1,15.433333,2.9177
18,"41.961154, -87.71656899999998",2016,1,4,4,19,2016-01-29 19:34:00,1,20.266667,4.9890
19,"41.961154, -87.71656899999998",2016,1,4,5,13,2016-01-30 13:46:00,1,25.250000,2.9387
20,"41.961154, -87.71656899999998",2016,2,5,0,7,2016-02-01 07:40:00,1,7.316667,1.8282
21,"41.961154, -87.71656899999998",2016,2,5,0,12,2016-02-01 12:29:00,1,11.783333,2.8550
22,"41.961154, -87.71656899999998",2016,2,5,1,7,2016-02-02 07:25:00,1,5.600000,1.8282
23,"41.961154, -87.71656899999998",2016,2,5,3,16,2016-02-04 16:28:00,1,5.250000,1.0445
24,"41.961154, -87.71656899999998",2016,2,5,6,14,2016-02-07 14:26:00,1,13.766667,1.8282
25,"41.961154, -87.71656899999998",2016,2,6,0,7,2016-02-08 07:27:00,1,6.750000,1.8282
26,"41.961154, -87.71656899999998",2016,2,6,3,8,2016-02-11 08:50:00,1,8.483333,2.0165
27,"41.961154, -87.71656899999998",2016,2,6,4,7,2016-02-12 08:07:00,1,15.283333,3.5003
28,"41.961154, -87.71656899999998",2016,2,7,2,8,2016-02-17 08:28:00,1,4.966667,0.7773
29,"41.961154, -87.71656899999998",2016,2,7,2,8,2016-02-17 08:29:00,1,13.783333,2.9177
...,...,...,...,...,...,...,...,...,...,...
10623,"41.98039423475, -87.7161149615",2017,6,25,3,14,2017-06-22 14:51:35,1,4.150000,1.0895
10624,"41.98039423475, -87.7161149615",2017,6,25,3,17,2017-06-22 17:34:28,1,4.550000,1.0895
10625,"41.98039423475, -87.7161149615",2017,6,25,3,21,2017-06-22 21:18:59,1,10.533333,2.6297
10626,"41.98039423475, -87.7161149615",2017,6,25,4,15,2017-06-23 15:41:55,1,7.866667,1.6689
10627,"41.98039423475, -87.7161149615",2017,6,25,4,16,2017-06-23 16:54:45,1,14.066667,3.9863
10628,"41.98039423475, -87.7161149615",2017,6,25,5,11,2017-06-24 11:44:57,1,43.300000,7.7442
10629,"41.98039423475, -87.7161149615",2017,6,25,5,22,2017-06-24 22:34:13,1,27.633333,3.6098
10630,"41.98039423475, -87.7161149615",2017,6,25,6,9,2017-06-25 10:15:20,1,16.333333,4.9198
10631,"41.98039423475, -87.7161149615",2017,6,26,0,5,2017-06-26 05:41:54,1,18.200000,6.2040
10632,"41.98039423475, -87.7161149615",2017,6,26,0,7,2017-06-26 07:46:51,1,22.500000,7.0650
10633,"41.98039423475, -87.7161149615",2017,6,26,0,20,2017-06-26 20:58:59,1,5.833333,1.6689
10634,"41.98039423475, -87.7161149615",2017,6,26,0,22,2017-06-26 22:33:47,1,6.033333,1.6689
10635,"41.98039423475, -87.7161149615",2017,6,26,1,12,2017-06-27 12:54:27,1,7.183333,1.7638
10636,"41.98039423475, -87.7161149615",2017,6,26,1,13,2017-06-27 13:44:30,1,10.283333,2.1951
10637,"41.98039423475, -87.7161149615",2017,6,26,1,14,2017-06-27 15:08:48,1,9.966667,2.6297
10638,"41.98039423475, -87.7161149615",2017,6,26,1,16,2017-06-27 16:26:39,1,7.100000,1.6689
10639,"41.98039423475, -87.7161149615",2017,6,26,1,16,2017-06-27 16:26:39,1,7.100000,1.6689
10640,"41.98039423475, -87.7161149615",2017,6,26,1,16,2017-06-27 16:53:28,1,14.633333,3.9863
10641,"41.98039423475, -87.7161149615",2017,6,26,1,19,2017-06-27 20:03:39,1,9.116667,2.6297
10642,"41.98039423475, -87.7161149615",2017,6,26,1,21,2017-06-27 21:51:56,1,27.716667,8.4491
10643,"41.98039423475, -87.7161149615",2017,6,26,2,5,2017-06-28 05:41:12,1,20.933333,6.2040
10644,"41.98039423475, -87.7161149615",2017,6,26,2,16,2017-06-28 16:53:06,1,15.183333,3.9863
10645,"41.98039423475, -87.7161149615",2017,6,26,2,21,2017-06-28 21:44:52,1,6.083333,1.6689
10646,"41.98039423475, -87.7161149615",2017,6,26,3,5,2017-06-29 05:18:57,1,14.100000,1.7638
10647,"41.98039423475, -87.7161149615",2017,6,26,3,5,2017-06-29 05:19:36,1,14.400000,1.7638
10648,"41.98039423475, -87.7161149615",2017,6,26,3,11,2017-06-29 12:02:42,1,6.616667,1.7638
10649,"41.98039423475, -87.7161149615",2017,6,26,3,15,2017-06-29 15:45:40,1,27.233333,0.8192
10650,"41.98039423475, -87.7161149615",2017,6,26,3,16,2017-06-29 16:51:45,1,12.450000,3.9863
10651,"41.98039423475, -87.7161149615",2017,6,26,4,16,2017-06-30 16:57:59,1,15.316667,3.9863
10652,"41.98039423475, -87.7161149615",2017,6,26,4,17,2017-06-30 17:51:56,1,11.116667,1.6689

In [143]:
chibici2=chibici 
chibici2
chibici2["stoptime"]= chibici2["stoptime"].str.slice(stop=10)
chibici2.head()

,estacion inicio,year,month,week,day,hour,stoptime,total_trips,tripduration,Distancia Recorrida
0,"41.961154, -87.71656899999998",2016,1,1,0,8,2016-01-04,1,9.516667,2.0165
1,"41.961154, -87.71656899999998",2016,1,1,1,8,2016-01-05,1,8.033333,2.0165
2,"41.961154, -87.71656899999998",2016,1,1,2,8,2016-01-06,1,15.066667,1.2183
3,"41.961154, -87.71656899999998",2016,1,1,3,9,2016-01-07,1,7.950000,1.8282
4,"41.961154, -87.71656899999998",2016,1,1,4,7,2016-01-08,1,8.833333,2.1243

In [144]:
chibici2 = chibici2.drop(chibici2.columns[[1,2,3,4,]], axis=1)
chibici2.head()

,estacion inicio,hour,stoptime,total_trips,tripduration,Distancia Recorrida
0,"41.961154, -87.71656899999998",8,2016-01-04,1,9.516667,2.0165
1,"41.961154, -87.71656899999998",8,2016-01-05,1,8.033333,2.0165
2,"41.961154, -87.71656899999998",8,2016-01-06,1,15.066667,1.2183
3,"41.961154, -87.71656899999998",9,2016-01-07,1,7.950000,1.8282
4,"41.961154, -87.71656899999998",7,2016-01-08,1,8.833333,2.1243

In [218]:
chibici3 = chibici2.rename(columns={'stoptime': 'date_local', 'hour': 'time_local'})
chibici3.head()

,estacion inicio,time_local,date_local,total_trips,tripduration,Distancia Recorrida
0,"41.961154, -87.71656899999998",8,2016-01-04,1,9.516667,2.0165
1,"41.961154, -87.71656899999998",8,2016-01-05,1,8.033333,2.0165
2,"41.961154, -87.71656899999998",8,2016-01-06,1,15.066667,1.2183
3,"41.961154, -87.71656899999998",9,2016-01-07,1,7.950000,1.8282
4,"41.961154, -87.71656899999998",7,2016-01-08,1,8.833333,2.1243

In [183]:
cm_df=pd.read_csv("cmchi.csv")
cm_df.head()

   date_local  sample_measurement time_local
0  2014-01-01                0.26      00:00
1  2014-01-01                0.26      01:00
2  2014-01-01                0.18      02:00
3  2014-01-01                0.14      03:00
4  2014-01-01                0.14      04:00

In [184]:
cm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 3 columns):
date_local            8760 non-null object
sample_measurement    7426 non-null float64
time_local            8760 non-null object
dtypes: float64(1), object(2)
memory usage: 205.4+ KB

In [171]:
chibici2 =chibici2.rename(columns={'time_local': 'date_local'})
chibici2

,estacion inicio,hour,date_local,total_trips,tripduration,Distancia Recorrida
0,"41.961154, -87.71656899999998",8,2016-01-04,1,9.516667,2.0165
1,"41.961154, -87.71656899999998",8,2016-01-05,1,8.033333,2.0165
2,"41.961154, -87.71656899999998",8,2016-01-06,1,15.066667,1.2183
3,"41.961154, -87.71656899999998",9,2016-01-07,1,7.950000,1.8282
4,"41.961154, -87.71656899999998",7,2016-01-08,1,8.833333,2.1243
5,"41.961154, -87.71656899999998",7,2016-01-08,1,12.233333,2.4172
6,"41.961154, -87.71656899999998",9,2016-01-14,1,6.733333,2.0165
7,"41.961154, -87.71656899999998",8,2016-01-15,1,15.783333,3.5003
8,"41.961154, -87.71656899999998",11,2016-01-15,1,11.583333,2.1243
9,"41.961154, -87.71656899999998",14,2016-01-16,1,12.316667,2.9177
10,"41.961154, -87.71656899999998",9,2016-01-18,1,5.900000,1.2183
11,"41.961154, -87.71656899999998",10,2016-01-20,1,9.500000,2.5106
12,"41.961154, -87.71656899999998",8,2016-01-21,1,9.500000,2.0165
13,"41.961154, -87.71656899999998",16,2016-01-24,1,14.050000,2.9177
14,"41.961154, -87.71656899999998",9,2016-01-27,1,5.300000,1.2183
15,"41.961154, -87.71656899999998",10,2016-01-27,1,9.033333,2.5106
16,"41.961154, -87.71656899999998",7,2016-01-28,1,16.066667,3.5003
17,"41.961154, -87.71656899999998",7,2016-01-29,1,15.433333,2.9177
18,"41.961154, -87.71656899999998",19,2016-01-29,1,20.266667,4.9890
19,"41.961154, -87.71656899999998",13,2016-01-30,1,25.250000,2.9387
20,"41.961154, -87.71656899999998",7,2016-02-01,1,7.316667,1.8282
21,"41.961154, -87.71656899999998",12,2016-02-01,1,11.783333,2.8550
22,"41.961154, -87.71656899999998",7,2016-02-02,1,5.600000,1.8282
23,"41.961154, -87.71656899999998",16,2016-02-04,1,5.250000,1.0445
24,"41.961154, -87.71656899999998",14,2016-02-07,1,13.766667,1.8282
25,"41.961154, -87.71656899999998",7,2016-02-08,1,6.750000,1.8282
26,"41.961154, -87.71656899999998",8,2016-02-11,1,8.483333,2.0165
27,"41.961154, -87.71656899999998",7,2016-02-12,1,15.283333,3.5003
28,"41.961154, -87.71656899999998",8,2016-02-17,1,4.966667,0.7773
29,"41.961154, -87.71656899999998",8,2016-02-17,1,13.783333,2.9177
...,...,...,...,...,...,...
10623,"41.98039423475, -87.7161149615",14,2017-06-22,1,4.150000,1.0895
10624,"41.98039423475, -87.7161149615",17,2017-06-22,1,4.550000,1.0895
10625,"41.98039423475, -87.7161149615",21,2017-06-22,1,10.533333,2.6297
10626,"41.98039423475, -87.7161149615",15,2017-06-23,1,7.866667,1.6689
10627,"41.98039423475, -87.7161149615",16,2017-06-23,1,14.066667,3.9863
10628,"41.98039423475, -87.7161149615",11,2017-06-24,1,43.300000,7.7442
10629,"41.98039423475, -87.7161149615",22,2017-06-24,1,27.633333,3.6098
10630,"41.98039423475, -87.7161149615",9,2017-06-25,1,16.333333,4.9198
10631,"41.98039423475, -87.7161149615",5,2017-06-26,1,18.200000,6.2040
10632,"41.98039423475, -87.7161149615",7,2017-06-26,1,22.500000,7.0650
10633,"41.98039423475, -87.7161149615",20,2017-06-26,1,5.833333,1.6689
10634,"41.98039423475, -87.7161149615",22,2017-06-26,1,6.033333,1.6689
10635,"41.98039423475, -87.7161149615",12,2017-06-27,1,7.183333,1.7638
10636,"41.98039423475, -87.7161149615",13,2017-06-27,1,10.283333,2.1951
10637,"41.98039423475, -87.7161149615",14,2017-06-27,1,9.966667,2.6297
10638,"41.98039423475, -87.7161149615",16,2017-06-27,1,7.100000,1.6689
10639,"41.98039423475, -87.7161149615",16,2017-06-27,1,7.100000,1.6689
10640,"41.98039423475, -87.7161149615",16,2017-06-27,1,14.633333,3.9863
10641,"41.98039423475, -87.7161149615",19,2017-06-27,1,9.116667,2.6297
10642,"41.98039423475, -87.7161149615",21,2017-06-27,1,27.716667,8.4491
10643,"41.98039423475, -87.7161149615",5,2017-06-28,1,20.933333,6.2040
10644,"41.98039423475, -87.7161149615",16,2017-06-28,1,15.183333,3.9863
10645,"41.98039423475, -87.7161149615",21,2017-06-28,1,6.083333,1.6689
10646,"41.98039423475, -87.7161149615",5,2017-06-29,1,14.100000,1.7638
10647,"41.98039423475, -87.7161149615",5,2017-06-29,1,14.400000,1.7638
10648,"41.98039423475, -87.7161149615",11,2017-06-29,1,6.616667,1.7638
10649,"41.98039423475, -87.7161149615",15,2017-06-29,1,27.233333,0.8192
10650,"41.98039423475, -87.7161149615",16,2017-06-29,1,12.450000,3.9863
10651,"41.98039423475, -87.7161149615",16,2017-06-30,1,15.316667,3.9863
10652,"41.98039423475, -87.7161149615",17,2017-06-30,1,11.116667,1.6689

In [223]:
cm_dff=cm_df
cm_dff.head()
cm_dff.to_csv('/Users/kimberlyuribe/Downloads/carbon.csv', index=False)
carbon=pd.read_csv("carbon.csv")
carbon.replace(0, 24)

      date_local  sample_measurement  time_local
0     2014-01-01               0.260          24
1     2014-01-01               0.260           1
2     2014-01-01               0.180           2
3     2014-01-01               0.140           3
4     2014-01-01               0.140           4
5     2014-01-01               0.140           5
6     2014-01-01               0.150           6
7     2014-01-01               0.150           7
8     2014-01-01               0.150           8
9     2014-01-01               0.140           9
10    2014-01-01               0.140          10
11    2014-01-01               0.140          11
12    2014-01-01               0.140          12
13    2014-01-01               0.130          13
14    2014-01-01               0.120          14
15    2014-01-01               0.150          15
16    2014-01-01               0.150          16
17    2014-01-01               0.150          17
18    2014-01-01               0.150          18
19    2014-01-01               0.150          19
20    2014-01-01               0.160          20
21    2014-01-01               0.160          21
22    2014-01-01               0.150          22
23    2014-01-01               0.140          23
24    2014-01-02               0.140          24
25    2014-01-02               0.140           1
26    2014-01-02               0.110           2
27    2014-01-02               0.140           3
28    2014-01-02               0.140           4
29    2014-01-02               0.130           5
...          ...                 ...         ...
8730  2014-12-30               0.213          18
8731  2014-12-30               0.211          19
8732  2014-12-30               0.194          20
8733  2014-12-30               0.190          21
8734  2014-12-30               0.179          22
8735  2014-12-30               0.173          23
8736  2014-12-31               0.168          24
8737  2014-12-31               0.169           1
8738  2014-12-31               0.144           2
8739  2014-12-31               0.179           3
8740  2014-12-31               0.175           4
8741  2014-12-31               0.174           5
8742  2014-12-31               0.174           6
8743  2014-12-31               0.189           7
8744  2014-12-31               0.175           8
8745  2014-12-31               0.175           9
8746  2014-12-31               0.162          10
8747  2014-12-31               0.171          11
8748  2014-12-31               0.175          12
8749  2014-12-31               0.162          13
8750  2014-12-31               0.134          14
8751  2014-12-31               0.160          15
8752  2014-12-31               0.166          16
8753  2014-12-31               0.168          17
8754  2014-12-31               0.168          18
8755  2014-12-31               0.161          19
8756  2014-12-31               0.164          20
8757  2014-12-31               0.158          21
8758  2014-12-31               0.158          22
8759  2014-12-31               0.158          23

[8760 rows x 3 columns]

In [234]:

chicagof=pd.merge(chibici3,carbon, on=['time_local','date_local'])

chicagof

Empty DataFrame
Columns: [estacion inicio, time_local, date_local, total_trips, tripduration, Distancia Recorrida, sample_measurement]
Index: []

In [235]:
chibici3['date_local'].isin(carbon['date_local']).value_counts

<bound method IndexOpsMixin.value_counts of 0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
10623    False
10624    False
10625    False
10626    False
10627    False
10628    False
10629    False
10630    False
10631    False
10632    False
10633    False
10634    False
10635    False
10636    False
10637    False
10638    False
10639    False
10640    False
10641    False
10642    False
10643    False
10644    False
10645    False
10646    False
10647    False
10648    False
10649    False
10650    False
10651    False
10652    False
Name: date_local, Length: 10653, dtype: bool>

In [239]:
chibici3.date_local.unique

<bound method Series.unique of 0        2016-01-04
1        2016-01-05
2        2016-01-06
3        2016-01-07
4        2016-01-08
5        2016-01-08
6        2016-01-14
7        2016-01-15
8        2016-01-15
9        2016-01-16
10       2016-01-18
11       2016-01-20
12       2016-01-21
13       2016-01-24
14       2016-01-27
15       2016-01-27
16       2016-01-28
17       2016-01-29
18       2016-01-29
19       2016-01-30
20       2016-02-01
21       2016-02-01
22       2016-02-02
23       2016-02-04
24       2016-02-07
25       2016-02-08
26       2016-02-11
27       2016-02-12
28       2016-02-17
29       2016-02-17
            ...
10623    2017-06-22
10624    2017-06-22
10625    2017-06-22
10626    2017-06-23
10627    2017-06-23
10628    2017-06-24
10629    2017-06-24
10630    2017-06-25
10631    2017-06-26
10632    2017-06-26
10633    2017-06-26
10634    2017-06-26
10635    2017-06-27
10636    2017-06-27
10637    2017-06-27
10638    2017-06-27
10639    2017-06-27
10640    2017-06-27
10641    2017-06-27
10642    2017-06-27
10643    2017-06-28
10644    2017-06-28
10645    2017-06-28
10646    2017-06-29
10647    2017-06-29
10648    2017-06-29
10649    2017-06-29
10650    2017-06-29
10651    2017-06-30
10652    2017-06-30
Name: date_local, Length: 10653, dtype: object>