In [3]:
import pandas as pd
import numpy as np
import math
import glob

In [4]:
path = r'airbike-dataset'
all_csv = glob.glob(path + "/*.csv")
li = []
for filename in all_csv:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
df = pd.concat(li, axis=0, ignore_index=True)
df.head()

,hour,startstationid,trips,tripdistance,tripduration,starttime,o3
0,0,3131,4,4.0282,663,2019-01-03 00:00:00,0.014000
1,0,3135,1,0.8481,130,2019-01-26 00:00:00,0.027000
2,0,3137,5,13.6826,3465,2019-01-01 00:00:00,0.014800
3,0,3139,1,0.5601,187,2019-01-27 00:00:00,0.013000
4,0,3140,8,16.5086,7130,2019-01-01 00:00:00,0.017625

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33877 entries, 0 to 33876
Data columns (total 7 columns):
hour              33877 non-null int64
startstationid    33877 non-null int64
trips             33877 non-null int64
tripdistance      33877 non-null float64
tripduration      33877 non-null int64
starttime         33877 non-null object
o3                33877 non-null float64
dtypes: float64(2), int64(4), object(1)
memory usage: 1.7+ MB

In [6]:
df.shape

(33877, 7)

In [14]:
df.to_csv(r'\airbike-dataset\airbike-ny-2019.csv')